ul{list-style: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background-color: blue;
}
li{padding: 20px;}
a{text-decoration: none;
display:flex;flex-direction: row;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-weight: bold; }
.texto{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
.img-fluid{width:100%;height: auto;}
.titulo{
    display:flex;flex-direction: row;
justify-content: center;
text-decoration: underline;
font-family: sans-serif ;
font-style: italic
}


/* grid*/
.gridhome, .gridquienessomos{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "header header"
    "nav nav"
    "main main"
    "section aside"
    "footer footer";
}  

nav{grid-area: nav;}
header{grid-area: header;}
main{grid-area: main;}
section{grid-area: section;}
aside {grid-area: aside;}
footer{grid-area: footer;}

/*grid footer*/
.gridfooter{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-area: auto;
    grid-template-areas: 
    "aside div";
}

aside{grid-area: aside;}
div{grid-area: div;}

